{"openapi":"3.1.0","info":{"title":"Документация для партнеров Dolyame","version":"1.0"},"servers":[{"url":"https://partner.dolyame.ru"}],"paths":{"/v1/orders/create":{"post":{"tags":["Open API для партнеров"],"summary":"Метод создания заказа","operationId":"postApiDolyamePartnersOrdersCreate","parameters":[{"name":"X-Correlation-ID","in":"header","description":"Идентификатор операции в формате UUID v4","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.CreateRequest"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfo"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized"}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict"}}}},"422":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi"}]}}}},"429":{"description":"","headers":{"Retry-After":{"required":true,"schema":{"type":"integer","format":"int64"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal"}}}}},"security":[{"Dolyame":[]}]}},"/v1/orders/{orderId}/cancel":{"post":{"tags":["Open API для партнеров"],"summary":"Метод для отмены заказа","operationId":"postApiDolyamePartnersOrdersOrderidCancel","parameters":[{"name":"X-Correlation-ID","in":"header","description":"Идентификатор операции в формате UUID v4","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"orderId","in":"path","description":"Уникальный идентификатор заказа в системе партнера","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfo"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized"}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict"}}}},"422":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi"}]}}}},"429":{"description":"","headers":{"Retry-After":{"required":true,"schema":{"type":"integer","format":"int64"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal"}}}}},"security":[{"Dolyame":[]}]}},"/v1/orders/{orderId}/commit":{"post":{"tags":["Open API для партнеров"],"summary":"Метод для подтверждения заказа","operationId":"postApiDolyamePartnersOrdersOrderidCommit","parameters":[{"name":"X-Correlation-ID","in":"header","description":"Идентификатор операции в формате UUID v4","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"orderId","in":"path","description":"Уникальный идентификатор заказа в системе партнера","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.CommitRequest"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfo"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized"}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict"}}}},"422":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi"}]}}}},"429":{"description":"","headers":{"Retry-After":{"required":true,"schema":{"type":"integer","format":"int64"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal"}}}}},"security":[{"Dolyame":[]}]}},"/v1/orders/{orderId}/info":{"get":{"tags":["Open API для партнеров"],"summary":"Метод получения актуальной информации по заказу","operationId":"getApiDolyamePartnersOrdersOrderidInfo","parameters":[{"name":"X-Correlation-ID","in":"header","description":"Идентификатор операции в формате UUID v4","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"orderId","in":"path","description":"Уникальный идентификатор заказа в системе партнера","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfo"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized"}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict"}}}},"422":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi"}]}}}},"429":{"description":"","headers":{"Retry-After":{"required":true,"schema":{"type":"integer","format":"int64"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal"}}}}},"security":[{"Dolyame":[]}]}},"/v1/orders/{orderId}/refund":{"post":{"tags":["Open API для партнеров"],"summary":"Метод для совершения возврата по заказу","operationId":"postApiDolyamePartnersOrdersOrderidRefund","parameters":[{"name":"X-Correlation-ID","in":"header","description":"Идентификатор операции в формате UUID v4","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"orderId","in":"path","description":"Уникальный идентификатор заказа в системе партнера","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.RefundRequest"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundResponse"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized"}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict"}}}},"422":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi"}]}}}},"429":{"description":"","headers":{"Retry-After":{"required":true,"schema":{"type":"integer","format":"int64"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal"}}}}},"security":[{"Dolyame":[]}]}},"/v1/orders/{orderId}/correction":{"post":{"tags":["Open API для партнеров"],"summary":"Метод для коррекции корзины заказа","operationId":"postApiDolyamePartnersOrdersOrderidCorrection","parameters":[{"name":"X-Correlation-ID","in":"header","description":"Идентификатор операции в формате UUID v4","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"orderId","in":"path","description":"Уникальный идентификатор заказа в системе партнера","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.FractionalRefundRequest"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundResponse"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized"}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict"}}}},"422":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi"}]}}}},"429":{"description":"","headers":{"Retry-After":{"required":true,"schema":{"type":"integer","format":"int64"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal"}}}}},"security":[{"Dolyame":[]}]}},"/v1/orders/{orderId}/complete_delivery":{"post":{"tags":["Open API для партнеров"],"summary":"Метод подтверждения успешной доставки","operationId":"postApiDolyamePartnersOrdersOrderidComplete_delivery","parameters":[{"name":"X-Correlation-ID","in":"header","description":"Идентификатор операции в формате UUID v4","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"orderId","in":"path","description":"Уникальный идентификатор заказа в системе партнера","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.CompleteDeliveryRequest"}}},"required":true},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfo"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest"}}}},"401":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized"}}}},"403":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden"}}}},"404":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound"}}}},"409":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict"}}}},"422":{"description":"","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi"}]}}}},"429":{"description":"","headers":{"Retry-After":{"required":true,"schema":{"type":"integer","format":"int64"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests"}}}},"500":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal"}}}}},"security":[{"Dolyame":[]}]}}},"components":{"schemas":{"Map_String":{"title":"Map_String","type":"object","additionalProperties":{"type":"string"}},"Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V":{"title":"Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V","type":"object","additionalProperties":{"type":"string"}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.BadRequest","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["BAD_REQUEST"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.Default","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["UNPROCESSABLE_ENTITY"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Business.OpenApi","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["UNPROCESSABLE_ENTITY"]},"errorDetailCode":{"type":"string","enum":["NOT_ENOUGH_MONEY","PAYMENT_ERROR"]},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Conflict","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["CONFLICT"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Forbidden","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["FORBIDDEN"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Internal","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["INTERNAL_ERROR"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.NotFound","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.TooManyRequests","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["TOO_MANY_REQUESTS"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.Unauthorized","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["UNAUTHORIZED"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed":{"title":"ru.tinkoff.tcb.bnpl.engine.common.BnplError.ValidationFailed","type":"object","required":["code","message"],"properties":{"code":{"type":"string","enum":["UNPROCESSABLE_ENTITY"]},"errorDetailCode":{"type":"string"},"message":{"type":"string"},"correlationId":{"type":"string"},"details":{"$ref":"#/components/schemas/Map_ru.tinkoff.tcb.utils.tapir.TapirCodec.schemaForNem.V"},"operationDetails":{"type":"array","minItems":1,"items":{"type":"string"}}}},"ru.tinkoff.tcb.bnpl.model.CoreSectoralItemProp":{"title":"ru.tinkoff.tcb.bnpl.model.CoreSectoralItemProp","type":"object","required":["federalId","date","number","value"],"properties":{"federalId":{"description":"Значение из справочника идентификаторов ФОИВ (тег 1262)","type":"string","enum":["001","002","003","004","005","006","007","008","009","010","011","012","013","014","015","016","017","018","019","020","021","022","023","024","025","026","027","028","029","030","031","032","033","034","035","036","037","038","039","040","041","042","043","044","045","046","047","048","049","050","051","052","053","054","055","056","057","058","059","060","061","062","063","064","065","066","067","068","069","070","071","072"]},"date":{"description":"Дата нормативного акта ФОИВ, регламентирующего порядок заполнения реквизита \"значение отраслевого реквизита\"","examples":["01.01.2025"],"type":"string","format":"dd.MM.yyyy"},"number":{"description":"Номер нормативного акта ФОИВ, регламентирующего порядок заполнения реквизита \"значение отраслевого реквизита\"","type":"string"},"value":{"description":"Состав значений, определенных нормативным актом ФОИВ","type":"string"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled","type":"object","required":["type"],"properties":{"type":{"type":"string","const":"disabled"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CommitFiscalizationParams":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CommitFiscalizationParams","type":"object","required":["create_receipt_for_committed_items","create_receipt_for_added_items","create_receipt_for_returned_items"],"properties":{"create_receipt_for_committed_items":{"description":"True/False генерация чеков на все позиции в items в методе commit","type":"boolean"},"create_receipt_for_added_items":{"description":"True/False генерация чеков на новые позиции в items, добавившиеся при использовании метода commit","type":"boolean"},"create_receipt_for_returned_items":{"description":"True/False генерация чеков на удалённые позиции в items в commit, при сравнении с items из метода create","type":"boolean"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CompleteDeliveryFiscalizationParams":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CompleteDeliveryFiscalizationParams","type":"object","properties":{"payments":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CompleteDeliveryFiscalizationParams.Payments"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CompleteDeliveryFiscalizationParams.Payments":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CompleteDeliveryFiscalizationParams.Payments","type":"object","properties":{"electronic":{"type":"integer","format":"int64"},"provision":{"type":"integer","format":"int64"},"advance_payment":{"type":"integer","format":"int64"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CreateFiscalizationParams":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CreateFiscalizationParams","type":"object"},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.RefundFiscalizationParams":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.RefundFiscalizationParams","type":"object"},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Commit":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Commit","type":"object","required":["type"],"properties":{"params":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CommitFiscalizationParams"},"type":{"type":"string","const":"enabled"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_CompleteDelivery":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_CompleteDelivery","type":"object","required":["type"],"properties":{"params":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CompleteDeliveryFiscalizationParams"},"type":{"type":"string","const":"enabled"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Create":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Create","type":"object","required":["type"],"properties":{"params":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.CreateFiscalizationParams"},"type":{"type":"string","const":"enabled"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Refund":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Refund","type":"object","required":["type"],"properties":{"params":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled.Params.RefundFiscalizationParams"},"type":{"type":"string","const":"enabled"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Commit":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Commit","description":"Настройки запроса в чековый сервис. Параметр \"type\" внутри массива принимает значения \"enabled\"/\"disabled\"","oneOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Commit"}],"discriminator":{"propertyName":"type","mapping":{"disabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled","enabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Commit"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_CompleteDelivery":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_CompleteDelivery","description":"Настройки запроса в чековый сервис. Параметр \"type\" внутри массива принимает значения \"enabled\"/\"disabled\"","oneOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_CompleteDelivery"}],"discriminator":{"propertyName":"type","mapping":{"disabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled","enabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_CompleteDelivery"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Create":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Create","description":"Настройки запроса в чековый сервис. Параметр \"type\" внутри массива принимает значения \"enabled\"/\"disabled\"","oneOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Create"}],"discriminator":{"propertyName":"type","mapping":{"disabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled","enabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Create"}}},"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Refund":{"title":"ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Refund","description":"Настройки запроса в чековый сервис. Параметр \"type\" внутри массива принимает значения \"enabled\"/\"disabled\"","oneOf":[{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled"},{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Refund"}],"discriminator":{"propertyName":"type","mapping":{"disabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Disabled","enabled":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings.Enabled_Refund"}}},"ru.tinkoff.tcb.bnpl.model.LeadGenerationType":{"title":"ru.tinkoff.tcb.bnpl.model.LeadGenerationType","type":"string","enum":["tochka","ecomkassa","paymo","paymaster","interkassa","ds24","uniteller","bnovo","payture","payonline","sabyretail","rbspayment","yclients","unitpay"]},"ru.tinkoff.tcb.bnpl.model.OfflineIntegrationType":{"title":"ru.tinkoff.tcb.bnpl.model.OfflineIntegrationType","type":"string","enum":["atol","evotor","luxeretail","pos-fit","aqsi","setretail","profi-t","supermag-ukm4"]},"ru.tinkoff.tcb.bnpl.model.QrGeo":{"title":"ru.tinkoff.tcb.bnpl.model.QrGeo","description":"Информация по местоположению покупки","type":"object","required":["latitude","longitude","mall","address"],"properties":{"latitude":{"description":"Координаты - широта","type":"number","format":"double"},"longitude":{"description":"Координаты - долгота","type":"number","format":"double"},"mall":{"description":"Торговый центр","type":"string"},"address":{"description":"Адрес магазина","type":"string"}}},"ru.tinkoff.tcb.bnpl.model.QrSettings":{"title":"ru.tinkoff.tcb.bnpl.model.QrSettings","description":"Настройки для QRов","type":"object","required":["qr_id"],"properties":{"qr_id":{"description":"Номер кассы партнёра, с которой совершается покупка","type":"string"},"expiry_delay":{"description":"Время жизни заказа на QRе в секундах","default":3600,"type":"integer","format":"int32"},"geo":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.QrGeo"}}},"ru.tinkoff.tcb.bnpl.model.UserQrSettings":{"title":"ru.tinkoff.tcb.bnpl.model.UserQrSettings","description":"Настройки пользовательского QR","type":"object","required":["sso_id"],"properties":{"sso_id":{"type":"string","format":"uuid"},"geo":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.QrGeo"}}},"ru.tinkoff.tcb.bnpl.model.package.Order.Item":{"title":"ru.tinkoff.tcb.bnpl.model.package.Order.Item","type":"object","required":["name","quantity","price"],"properties":{"name":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"price":{"description":"double с двумя знаками после запятой - 10.99","examples":[10.99],"type":"number","format":"double"},"sku":{"type":"string"},"receipt":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt"},"agentData":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item.AgentData"},"supplierInfo":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item.SupplierInfo"}}},"ru.tinkoff.tcb.bnpl.model.package.Order.Item.AgentData":{"title":"ru.tinkoff.tcb.bnpl.model.package.Order.Item.AgentData","type":"object","properties":{"agent_sign":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item.AgentData.AgentSign"},"operation_name":{"type":"string"},"phones":{"type":"array","minItems":1,"items":{"type":"string"}},"receiver_phones":{"type":"array","minItems":1,"items":{"type":"string"}},"transfer_phones":{"type":"array","minItems":1,"items":{"type":"string"}},"operator_name":{"type":"string"},"operator_address":{"type":"string"},"operator_inn":{"type":"string"}}},"ru.tinkoff.tcb.bnpl.model.package.Order.Item.AgentData.AgentSign":{"title":"ru.tinkoff.tcb.bnpl.model.package.Order.Item.AgentData.AgentSign","type":"string","enum":["bank_paying_agent","bank_paying_subagent","paying_agent","paying_subagent","attorney","commission_agent","another"]},"ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt":{"title":"ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt","type":"object","required":["tax","payment_method"],"properties":{"tax":{"description":"Ставка налога","type":"string"},"payment_method":{"type":"string"},"payment_object":{"description":"Признак предмета расчета","type":"string"},"measurement_unit":{"description":"Единицы измерения согласно таблице \"Значение реквизита \"мера количества предмета расчета\" (тег 2108)","type":"string"},"item_code":{"description":"Код маркировки, как он был прочитан сканером","type":"string"},"mark_code":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt.MarkCode"},"mark_processing_mode":{"description":"Режим обработки кода маркировки. Должен принимать значение \"0\". Включается в чек в случае, если предметом расчета является товар, подлежащий обязательной маркировке средством идентификации","type":"string"},"mark_quantity":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt.MarkQuantity"},"sectoral_item_props":{"description":"Дополнительные параметры для разрешительного режима маркировки товаров","type":"array","items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.CoreSectoralItemProp"}},"timezone":{"description":"Часовая зона места доставки товара","type":"integer","format":"int32"}}},"ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt.MarkCode":{"title":"ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt.MarkCode","description":"Объект с параметрами кода маркировки товара","type":"object","required":["mark_code_type","value"],"properties":{"mark_code_type":{"description":"Тип кода товара","type":"string"},"value":{"description":"Значение кода товара сообразно типу","type":"string"}}},"ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt.MarkQuantity":{"title":"ru.tinkoff.tcb.bnpl.model.package.Order.Item.Receipt.MarkQuantity","description":"Объект с дробным количеством маркированного товара","type":"object","required":["numerator","denominator"],"properties":{"numerator":{"description":"Числитель дробной части предмета расчета, строго меньше знаменателя","type":"integer","format":"int64","exclusiveMinimum":0},"denominator":{"description":"Знаменатель дробной части предмета расчета. Заполняется значением, равным количеству товара в партии (упаковке), имеющей общий код маркировки товара.","type":"integer","format":"int64","exclusiveMinimum":0}}},"ru.tinkoff.tcb.bnpl.model.package.Order.Item.SupplierInfo":{"title":"ru.tinkoff.tcb.bnpl.model.package.Order.Item.SupplierInfo","type":"object","required":["phones","name","inn"],"properties":{"phones":{"type":"array","minItems":1,"items":{"type":"string"}},"name":{"type":"string"},"inn":{"type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.CommitRequest":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.CommitRequest","description":"Запрос на подтверждение заказа","type":"object","required":["amount","items"],"properties":{"amount":{"description":"Сумма для оплаты через Dolyame.ru, не может быть больше исходного значения переданного при создании заказа","examples":[10.99],"type":"number","format":"double"},"prepaid_amount":{"description":"Сумма аванса внесенного клиентом через другие методы оплаты","default":0,"examples":[10.99],"type":"number","format":"double"},"items":{"description":"Состав подтвержденного заказа","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item"}},"fiscalization_settings":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Commit"},"data":{"$ref":"#/components/schemas/Map_String","description":"Дополнительные параметры для реестров в формате \"ключ\": \"значение\" (не более 20 пар)"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.CompleteDeliveryRequest":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.CompleteDeliveryRequest","description":"Запрос на создание заказа","type":"object","properties":{"order":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.CompleteDeliveryRequest.Order"},"fiscalization_settings":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_CompleteDelivery"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.CompleteDeliveryRequest.Order":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.CompleteDeliveryRequest.Order","description":"Заказ","type":"object","required":["amount","items"],"properties":{"amount":{"description":"Сумма для оплаты через Dolyame.ru. Должно соблюдаться условие amount + prepaid_amount = items.map { i => i.quantity * i.price }.sum","examples":[10.99],"type":"number","format":"double"},"prepaid_amount":{"description":"Сумма аванса, внесенного клиентом через другие способы оплаты. Должно соблюдаться условие amount + prepaid_amount = items.map { i => i.quantity * i.price }.sum","default":0,"examples":[10.99],"type":"number","format":"double"},"items":{"description":"Массив с позициями в заказе","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item"}}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.CreateRequest":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.CreateRequest","description":"Запрос на создание заказа","type":"object","required":["order"],"properties":{"qr_settings":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.QrSettings"},"order":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Order"},"fiscalization_settings":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Create"},"client_info":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.ClientInfo"},"notification_url":{"description":"Адрес для http-нотификаций, если не указан, будет использоваться дефолтный из настроек магазина.","type":"string"},"fail_url":{"description":"Ссылка для возврата в случае неуспешной оплаты","type":"string"},"success_url":{"description":"Ссылка для возврата в случае успешной оплаты","type":"string"},"data":{"$ref":"#/components/schemas/Map_String","description":"Дополнительные параметры для реестров в формате \"ключ\": \"значение\" (не более 20 пар)"},"user_qr_settings":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.UserQrSettings"},"aggregator_merchant":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.OpenApiAggregatorMerchant"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.FractionalRefundRequest":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.FractionalRefundRequest","description":"Запрос на коррекцию","type":"object","required":["amount"],"properties":{"amount":{"description":"Сумма возврата через Dolyame.ru. Должно выполняться условие amount + refunded_prepaid_amount + order.new_items.map { i => i.quantity * i.price }.sum = order.items.map { i => i.quantity * i.price }.sum - allRefunds.sum","examples":[10.99],"type":"number","format":"double"},"refunded_prepaid_amount":{"description":"Сумма возврата по прочим способам оплаты клиента. Должно выполняться условие  amount + refunded_prepaid_amount = returned_items.map { i => i.quantity * i.price }.sum","default":0,"examples":[10.99],"type":"number","format":"double"},"new_items":{"description":"Позиции, которые нужно перезаписать вместо текущих в заказе. Не передаются, если делается полный возврат.","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item"}},"data":{"$ref":"#/components/schemas/Map_String","description":"Дополнительные параметры для реестров в формате \"ключ\": \"значение\" (не более 20 пар)"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.OpenApiAggregatorMerchant":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.OpenApiAggregatorMerchant","type":"object","required":["id","inn"],"properties":{"id":{"description":"ID мерчанта","type":"string"},"inn":{"description":"ИНН мерчанта","type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.OpenApiSectoralItemProp":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.OpenApiSectoralItemProp","type":"object","required":["federal_id","date","number","value"],"properties":{"federal_id":{"description":"Значение из справочника идентификаторов ФОИВ (тег 1262)","type":"string","enum":["001","002","003","004","005","006","007","008","009","010","011","012","013","014","015","016","017","018","019","020","021","022","023","024","025","026","027","028","029","030","031","032","033","034","035","036","037","038","039","040","041","042","043","044","045","046","047","048","049","050","051","052","053","054","055","056","057","058","059","060","061","062","063","064","065","066","067","068","069","070","071","072"]},"date":{"description":"Дата нормативного акта ФОИВ, регламентирующего порядок заполнения реквизита \"значение отраслевого реквизита\"","examples":["01.01.2025"],"type":"string","format":"dd.MM.yyyy"},"number":{"description":"Номер нормативного акта ФОИВ, регламентирующего порядок заполнения реквизита \"значение отраслевого реквизита\"","type":"string"},"value":{"description":"Состав значений, определенных нормативным актом ФОИВ","type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.RefundRequest":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.RefundRequest","description":"Запрос на возврат","type":"object","required":["amount","returned_items"],"properties":{"amount":{"description":"Сумма возврата через Dolyame.ru. Должно выполняться условие amount + refunded_prepaid_amount = returned_items.map { i => i.quantity * i.price }.sum","examples":[10.99],"type":"number","format":"double"},"returned_items":{"description":"Позиции, которые вернул клиент","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item"}},"fiscalization_settings":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.FiscalizationSettings_Refund"},"refunded_prepaid_amount":{"description":"Сумма возврата по прочим способам оплаты клиента. Должно выполняться условие  amount + refunded_prepaid_amount = returned_items.map { i => i.quantity * i.price }.sum","default":0,"examples":[10.99],"type":"number","format":"double"},"data":{"$ref":"#/components/schemas/Map_String","description":"Дополнительные параметры для реестров в формате \"ключ\": \"значение\" (не более 20 пар)"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.ClientInfo":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.ClientInfo","description":"Объект с персональными данными клиента","type":"object","properties":{"first_name":{"description":"Имя клиента","type":"string"},"last_name":{"description":"Фамилия клиента","type":"string"},"middle_name":{"description":"Отчество клиента","type":"string"},"birthdate":{"description":"Дата рождения клиента в формате yyyy-MM-dd","type":"string","format":"date"},"phone":{"description":"Телефон клиента в формате +79993334444","type":"string"},"email":{"description":"Email клиента","type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item","type":"object","required":["name","quantity","price"],"properties":{"name":{"description":"Наименование товара","type":"string"},"quantity":{"description":"Количество позиций данного наименования","type":"integer","format":"int32"},"price":{"description":"Цена одной позиции","examples":[10.99],"type":"number","format":"double"},"sku":{"description":"Артикул позиции","type":"string"},"receipt":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt"},"agent_data":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.AgentData"},"supplier_info":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.SupplierInfo"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.AgentData":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.AgentData","description":"Данные агента","type":"object","properties":{"agent_sign":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item.AgentData.AgentSign"},"operation_name":{"type":"string"},"phones":{"type":"array","minItems":1,"items":{"type":"string"}},"receiver_phones":{"type":"array","minItems":1,"items":{"type":"string"}},"transfer_phones":{"type":"array","minItems":1,"items":{"type":"string"}},"operator_name":{"type":"string"},"operator_address":{"type":"string"},"operator_inn":{"type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt","description":"Фискальные параметры для передачи в чековый сервис. Этот объект и все его поля необязательны, если фискализация выключена","type":"object","required":["tax","payment_method"],"properties":{"tax":{"description":"Ставка налога","type":"string"},"payment_method":{"type":"string"},"payment_object":{"description":"Признак предмета расчета","type":"string"},"measurement_unit":{"description":"Единицы измерения согласно таблице \"Значение реквизита \"мера количества предмета расчета\" (тег 2108)","type":"string"},"item_code":{"description":"Код маркировки, как он был прочитан сканером","type":"string"},"mark_code":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt.MarkCode"},"mark_processing_mode":{"description":"Режим обработки кода маркировки. Должен принимать значение \"0\". Включается в чек в случае, если предметом расчета является товар, подлежащий обязательной маркировке средством идентификации","type":"string"},"mark_quantity":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt.MarkQuantity"},"sectoral_item_props":{"description":"Дополнительные параметры для разрешительного режима маркировки товаров","type":"array","items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.OpenApiSectoralItemProp"}},"timezone":{"description":"Часовая зона места доставки товара (тег 1011)","type":"integer","format":"int32"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt.MarkCode":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt.MarkCode","description":"Объект с параметрами кода маркировки товара","type":"object","required":["mark_code_type","value"],"properties":{"mark_code_type":{"description":"Тип кода товара","type":"string"},"value":{"description":"Значение кода товара сообразно типу","type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt.MarkQuantity":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.Receipt.MarkQuantity","description":"Объект с дробным количеством маркированного товара","type":"object","required":["numerator","denominator"],"properties":{"numerator":{"description":"Числитель дробной части предмета расчета, строго меньше знаменателя","type":"integer","format":"int64","exclusiveMinimum":0},"denominator":{"description":"Знаменатель дробной части предмета расчета. Заполняется значением, равным количеству товара в партии (упаковке), имеющей общий код маркировки товара.","type":"integer","format":"int64","exclusiveMinimum":0}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.SupplierInfo":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item.SupplierInfo","description":"Данные поставщика платежного агента","type":"object","required":["phones","name","inn"],"properties":{"phones":{"type":"array","minItems":1,"items":{"type":"string"}},"name":{"type":"string"},"inn":{"type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Order":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Order","description":"Заказ","type":"object","required":["id","amount","items"],"properties":{"id":{"description":"Идентификатор заказа в магазине партнера","type":"string"},"amount":{"description":"Сумма для оплаты через Dolyame.ru. Должно соблюдаться условие amount + prepaid_amount = items.map { i => i.quantity * i.price }.sum","examples":[10.99],"type":"number","format":"double"},"prepaid_amount":{"description":"Сумма аванса, внесенного клиентом через другие способы оплаты. Должно соблюдаться условие amount + prepaid_amount = items.map { i => i.quantity * i.price }.sum","default":0,"examples":[10.99],"type":"number","format":"double"},"items":{"description":"Массив с позициями в заказе","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.request.package.Item"}}}},"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.InstallmentInfo":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.InstallmentInfo","description":"Информация по рассрочке","type":"object","required":["term"],"properties":{"term":{"description":"Выбранный срок оплаты рассрочки","type":"integer","format":"int32"},"loan_number":{"description":"Номер договора","type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfo":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfo","description":"Информация по заказу","type":"object","required":["status","amount","residual_amount","link"],"properties":{"status":{"description":"Статус заказа","type":"string","enum":["new","rejected","canceled","approved","committed","completed","wait_for_commit","waiting_for_commit"]},"amount":{"description":"Общая сумма подлежащая оплате клиентом","examples":[10.99],"type":"number","format":"double"},"residual_amount":{"description":"Сумма, которая подлежит погашению клиентом","examples":[10.99],"type":"number","format":"double"},"link":{"description":"Ссылка на форму заказа на сайтe Dolyame.ru","type":"string"},"payment_schedule":{"description":"Массив, описывающий структуру и расписание платежей клиента","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.ScheduleItem"}},"refund_info":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundInfo"},"installment_info":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.InstallmentInfo"},"create_data":{"$ref":"#/components/schemas/Map_String","description":"Дополнительные параметры для реестров в формате \"ключ\": \"значение\" (не более 20 пар)"},"commit_data":{"$ref":"#/components/schemas/Map_String","description":"Дополнительные параметры для реестров в формате \"ключ\": \"значение\" (не более 20 пар)"},"items":{"description":"Массив с позициями в заказе, возвращается только в методе info партнерского апи","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfoItem"}},"end_cooling_period":{"description":"Дата/время окончания периода охлаждения","type":"string","format":"date-time"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfoItem":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.OrderInfoItem","type":"object","required":["name","price","quantity"],"properties":{"name":{"description":"Наименование товара","type":"string"},"price":{"description":"Цена одной позиции","examples":[10.99],"type":"number","format":"double"},"quantity":{"description":"Количество позиций данного наименования","type":"integer","format":"int32"},"sku":{"description":"Артикул позиции","type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundInfo":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundInfo","description":"Объект, описывающий структуру возвратов","type":"object","required":["total_refunded_amount","total_refunded_prepaid_amount","items"],"properties":{"total_refunded_amount":{"description":"Общая сумма возвратов","examples":[10.99],"type":"number","format":"double"},"total_refunded_prepaid_amount":{"description":"Общая сумма возвращенной предоплаты другим способом, отличным от Dolyame","examples":[10.99],"type":"number","format":"double"},"items":{"description":"Список возвратов","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundInfo.Item"}}}},"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundInfo.Item":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundInfo.Item","description":"Информация о конкретном возврате","type":"object","required":["refund_id","refunded_amount","refunded_prepaid_amount","status"],"properties":{"refund_id":{"description":"Идентификатор возврата в Долями","type":"string"},"refunded_amount":{"description":"Сумма возврата","examples":[10.99],"type":"number","format":"double"},"refunded_prepaid_amount":{"description":"Сумма возвращенной предоплаты","examples":[10.99],"type":"number","format":"double"},"returned_items":{"description":"Товары, которые были возвращены","type":"array","minItems":1,"items":{"$ref":"#/components/schemas/ru.tinkoff.tcb.bnpl.model.package.Order.Item"}},"status":{"description":"Статус возврата. pending - возврат принят и находится в обработке, processed - возврат обработан, денежные средства возмещены клиенту","type":"string","enum":["pending","processed"]}}},"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundResponse":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.RefundResponse","description":"Информация по возврату","type":"object","required":["amount","refund_id"],"properties":{"amount":{"description":"Общая сумма подлежащая выплате клиентом через Dolyame.ru после возврата","examples":[10.99],"type":"number","format":"double"},"refund_id":{"description":"Идентификатор возврата в Dolyame.ru","type":"string"}}},"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.ScheduleItem":{"title":"ru.tinkoff.tcb.bnpl.routing.openapi.response.package.ScheduleItem","type":"object","required":["amount","payment_date","status"],"properties":{"amount":{"description":"Сумма платежа","examples":[10.99],"type":"number","format":"double"},"payment_date":{"description":"Дата платежа по расписанию","type":"string","format":"date"},"status":{"type":"string","enum":["scheduled","hold","paid"]}}}},"securitySchemes":{"Dolyame":{"type":"http","scheme":"basic","x-scheme-name":"Dolyame"}}}}